pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Rebrickable password",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Rebrickable username",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Rebrickable Authorization",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-27.brazilsouth.logic.azure.com:443/workflows/c7e81574269b45c290c84a583e37be52/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=WMA6CEl05iVauOunRgDlC_1WcEH92PaxF8qKA90624Q",
					"body": {
						"value": "@concat('{\"username\":\"',activity('Get Rebrickable username').output.value,'\",\"password\":\"',activity('Get Rebrickable password').output.value,'\",\"Authorization\":\"key ',activity('Get Rebrickable Authorization').output.value,'\"}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Rebrickable password",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kvrebrick.vault.azure.net/secrets/Rebrick-password/?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Rebrickable username",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kvrebrick.vault.azure.net/secrets/Rebrick-username/?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Rebrickable Authorization",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kvrebrick.vault.azure.net/secrets/Rebrick-Authorization/?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": []
	}
}